body {

    color: white;
    text-align: center;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 161, 1) 57%, rgba(252, 176, 69, 1) 88%);
    font-size: 30px;
}

img {
    width: 300px;
}

h1 {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px, 2px 0 black, 0 -1px black;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: blueviolet;
}

.links {
    float: left;
     color: white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

#my name {
    font-family: 'Courgette', cursive;
}

.links:hover {
    background-color: white;

}

.line {
    text-align: center;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.button {
    text-align: center;
    color: aliceblue;
}
.Paintings {
border-spacing: 50%;
}
